In [4]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

df = pd.DataFrame([['food', 'apple', 20], ['not_food', 'ball', 10], 
                   ['not_food', 'basket', 10],['food', 'banana', 12], 
                   ['food', 'apple', 23]], columns=['cat1', 'cat2', 'num'], 
                   index=['one', 'two', 'three', 'four', 'five'])
df

           cat1    cat2  num
one        food   apple   20
two    not_food    ball   10
three  not_food  basket   10
four       food  banana   12
five       food   apple   23

In [8]:
pd.get_dummies(df)

,num,cat1_food,cat1_not_food,cat2_apple,cat2_ball,cat2_banana,cat2_basket
one,20,True,False,True,False,False,False
two,10,False,True,False,True,False,False
three,10,False,True,False,False,False,True
four,12,True,False,False,False,True,False
five,23,True,False,True,False,False,False

In [7]:
oe = OrdinalEncoder()
oe.fit_transform(df)

array([[0., 0., 2.],
       [1., 1., 0.],
       [1., 3., 0.],
       [0., 2., 1.],
       [0., 0., 3.]])

In [ ]:
oh = OneHotEncoder(sparse=False, handle_unknown='ignore')
pd.DataFrame(oh.fit_transform(df), columns= oh.get_feature_names_out(df.columns), 
             index=df.index)