Я от вас жду файл ipynb, в котором вы получите оптимальную модель. 
Ожидается, что вы сделаете следующие шаги:
1. Подготовка данных
2. Обучение модели (2-3 разных архитектуры/подхода)
3. Выбор лучшей и обоснование выбора

мне шлете в личку файл решения, после чего мы назначаем с вами защиту: либо вы приходите в установленное время (во вторник), либо онлайн в любое время (желательно). Защита 20 минут

In [71]:
import pandas as pd
import seaborn as sns
import sklearn
import wordcloud
import numpy as np
import matplotlib.pyplot as plt

### Считывание данных
Для считывания данных в колабе:
from google.colab import files
uploaded = files.upload()

In [11]:
trd = pd.read_csv('train.csv')
tsd = pd.read_csv('test.csv')
td = pd.concat([trd, tsd], ignore_index=True, sort = False)

In [18]:
# исследуем shape сетов:
print(trd.shape)
print(tsd.shape)

(1460, 81)
(1459, 80)

In [19]:
trd.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [70]:
td.describe(include = "all")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,2919.000000,2919.000000,2915,2433.000000,2919.000000,2919,198,2919,2919,2917,...,2919.000000,10,571,105,2919.000000,2919.000000,2919.000000,2918,2919,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Ex,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,2265,NaN,NaN,2907,120,1859,2622,2916,...,NaN,4,329,95,NaN,NaN,NaN,2525,2402,NaN
mean,1460.000000,57.137718,NaN,69.305795,10168.114080,NaN,NaN,NaN,NaN,NaN,...,2.251799,NaN,NaN,NaN,50.825968,6.213087,2007.792737,NaN,NaN,180921.195890
std,842.787043,42.517628,NaN,23.344905,7886.996359,NaN,NaN,NaN,NaN,NaN,...,35.663946,NaN,NaN,NaN,567.402211,2.714762,1.314964,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,730.500000,20.000000,NaN,59.000000,7478.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,4.000000,2007.000000,NaN,NaN,129975.000000
50%,1460.000000,50.000000,NaN,68.000000,9453.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,2189.500000,70.000000,NaN,80.000000,11570.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,2919.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,800.000000,NaN,NaN,NaN,17000.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [69]:
#trd.isnull().sum()
nans = trd.loc[:, trd.isnull().any()].copy()
print(nans.shape)
print(trd.shape)
nans

(1460, 19)
(1460, 81)

,LotFrontage,Alley,MasVnrType,MasVnrArea,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Electrical,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageQual,GarageCond,PoolQC,Fence,MiscFeature
0,65.0,NaN,BrkFace,196.0,Gd,TA,No,GLQ,Unf,SBrkr,NaN,Attchd,2003.0,RFn,TA,TA,NaN,NaN,NaN
1,80.0,NaN,NaN,0.0,Gd,TA,Gd,ALQ,Unf,SBrkr,TA,Attchd,1976.0,RFn,TA,TA,NaN,NaN,NaN
2,68.0,NaN,BrkFace,162.0,Gd,TA,Mn,GLQ,Unf,SBrkr,TA,Attchd,2001.0,RFn,TA,TA,NaN,NaN,NaN
3,60.0,NaN,NaN,0.0,TA,Gd,No,ALQ,Unf,SBrkr,Gd,Detchd,1998.0,Unf,TA,TA,NaN,NaN,NaN
4,84.0,NaN,BrkFace,350.0,Gd,TA,Av,GLQ,Unf,SBrkr,TA,Attchd,2000.0,RFn,TA,TA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,NaN,NaN,0.0,Gd,TA,No,Unf,Unf,SBrkr,TA,Attchd,1999.0,RFn,TA,TA,NaN,NaN,NaN
1456,85.0,NaN,Stone,119.0,Gd,TA,No,ALQ,Rec,SBrkr,TA,Attchd,1978.0,Unf,TA,TA,NaN,MnPrv,NaN
1457,66.0,NaN,NaN,0.0,TA,Gd,No,GLQ,Unf,SBrkr,Gd,Attchd,1941.0,RFn,TA,TA,NaN,GdPrv,Shed
1458,68.0,NaN,NaN,0.0,TA,TA,Mn,GLQ,Rec,FuseA,NaN,Attchd,1950.0,Unf,TA,TA,NaN,NaN,NaN
1459,75.0,NaN,NaN,0.0,TA,TA,No,BLQ,LwQ,SBrkr,NaN,Attchd,1965.0,Fin,TA,TA,NaN,NaN,NaN

In [ ]:
td.info()

In [42]:
nan_indexes = td[td.SaleType.isnull()].index
print(nan_indexes)

Index([2489], dtype='int64')

In [43]:
td[td.index == 2489]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
2489,2490,20,RL,85.0,13770,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2007,NaN,Normal,NaN

In [ ]:
sns.heatmap(td.isnull(), cbar = False).set_title("Missing values heatmap")

In [49]:
# строки с непустым полем Alley
td[~td['Alley'].isna()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
21,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400.0
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000.0
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500.0
79,80,50,RM,60.0,10440,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,WD,Normal,110000.0
87,88,160,FV,40.0,3951,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,164500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,2791,20,RM,65.0,9750,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,Gar2,4500,7,2006,WD,Normal,NaN
2795,2796,30,RL,50.0,11672,Pave,Pave,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,NaN
2797,2798,50,RM,60.0,10320,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,Abnorml,NaN
2870,2871,50,RL,45.0,8248,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,COD,Abnorml,NaN
2871,2872,30,RL,60.0,8088,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,ConLD,Normal,NaN

In [ ]:
df_corr = td.corr()
f, ax = plt.subplots(figsize=(15,10))
sns.heatmap(df_corr, mask=np.zeros_like(df_corr, dtype=np.bool), cmap="BrBG", ax=ax)

In [89]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# т.к. датасет разнообразный, нам понадобятся разные энкодеры, чтобы датасет был "потоньше"
onehot_enc = OneHotEncoder(drop='if_binary')

ordinal_qlt_enc = OrdinalEncoder(categories = [['NA', 'Po', 'Fa', 'TA', 'Gd'  'Ex']])
ordinal_qlt_fence_enc = OrdinalEncoder(categories = [['NA', 'MnWw', 'GdWo', 'MnPrv', 'GdPrv']])
ordinal_qlt_bsmt_exp_enc = OrdinalEncoder(categories = [['NA', 'No', 'Mn', 'Av', 'Gd']])
ordinal_qlt_bsmt_fin_type_enc = OrdinalEncoder(categories = [['NA', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ']])
ordinal_qlt_functional_enc = OrdinalEncoder(categories = [['Sal', 'Sev', 'Maj2', 'Maj1', 'Mod', 'Min2', 'Min1', 'Typ']])
ordinal_binary_enc = OrdinalEncoder(categories = [['N', 'Y']])
ordinal_garage_finished_enc = OrdinalEncoder(categories = [['NA', 'Unf', 'RFn', 'Fin']])
ordinal_paved_drive_enc = OrdinalEncoder(categories = [['N', 'P', 'Y']])


# выделим нужные нам категориальные признаки в наборы колонок
categories = ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'Foundation', 'Heating', 'Electrical', 'GarageType', 'MiscFeature', 'SaleType', 'SaleCondition']
categoriesOrdinal = ['ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'HeatingQC', 'KitchenQual', 'FireplaceQu', 'GarageQual', 'GarageCond', 'PoolQC']
categoriesOrdinalFence = ['Fence']
categoriesOrdinalBsmtExposure = ['BsmtExposure']
categoriesOrdinalBsmtFinType = ['BsmtFinType1', 'BsmtFinType2']
categoriesOrdinalFunctional = ['Functional']
categoriesOrdinalBinary = ['CentralAir']
categoriesGarageFinish = ['GarageFinish']
categoriesPavedDrive = ['PavedDrive']

In [91]:
df_oe = trd.copy()
df_oe[] = ordinal_qlt_enc.fit_transform(df_oe.loc[].to_frame())

ValueError: Found unknown categories ['Gd', 'Ex'] in column 0 during fit